@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Roboto:wght@400&display=swap');

:root {
    --primary: rgb(60, 71, 104);
    --dark: rgb(39, 43, 51);
    --light: rgb(241, 241, 240);
    --blue: rgb(131, 155, 231);
    --orange: rgb(235, 191, 110);
    --green: rgb(157, 219, 176);
    --gray: rgb(201, 201, 201);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: dark;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cherry Swash', sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.btn {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    background-color: var(--primary);
    padding: 12px 20px;
    border-radius: 2px;
    color: var(--light);
}

.btn:hover {
    text-decoration: none;
    background-color: var(--dark);
}

nav {
    width: 100%;
    background: var(--dark);
    color: var(--light);
}

.nav-container {
    padding: 0px 10px;
    display: flex;
    height: 65px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    padding: 20px 10px;
}


.nav-link {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--gray);
}

.nav-link:hover {
    text-decoration: none;
    color: var(--light);
}

.card-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 70px;
}

.card {
    background-color: var(--light);
    box-shadow: 0px 10px 10px rgba(10, 10, 10, 0.5);
}

.card-header {
    position: relative;
    background-color: var(--dark);
}

.card-title {
    color: var(--light);
    position: absolute;
    padding: 20px;
    width: 100%;
    bottom: 10%;
    right: 20px;
    box-shadow: 0px 10px 10px rgba(10, 10, 10, 0.5);
    transform: translateY(0px);
    transition: transform 0.2s ease-out;
}

.card:hover .card-title {
    transform: translateY(-5px);
}

.card-image {
    display: block;
    width: 100%;
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
}

.card:hover .card-image{
    opacity: 0.9;
}

.card-body {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

.card-body p {
    line-height: 150%;    
    margin-bottom: 10px;
}

.card-footer {
    padding: 20px;
}

.card-body a {
    color: var(--primary)
}

.card-body a:hover {
    color: var(--primary)
}

.section-header {
    color: var(--light);
    margin-bottom: 20px;
}