.article {
    font-size: 1.2em;
}

.article .title{
    padding: 20px 10px;
    font-size: 3em;
    border-bottom: 1px solid var(--gray);
}

.article h1, h2, h3 {
    font-size: 1.2em;
}

.article .header-styling {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.article .content-styling {    
    padding: 10px 10px;
}

.article p {
    line-height: 200%;    
    margin-bottom: 20px;
}

.article figure {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.article figure img {
    background-color: white;
    width: 25%;
}

.article figure figcaption {
    margin: 10px 0px;
}

.article .eqn_container {
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.article table {
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid var(--light);
}

.article th {
    padding: 5px;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

.article td {
    padding: 5px;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

.article ol {
    padding-left: 40px;
}

.article .subsectionHead {
    margin-bottom: 10px;
}
/* Sticky attributes */

.sticky {
    position: fixed;
    top: 10px;
    width: 100%;
}

.sticky + .section-content{
    padding-top: 50px;
}