body, html {
    background-color: var(--dark);
}



.hero {
    width: 100%;
    min-height: 400px;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
}

.hero-overlay {
    width: 100%;
    min-height: 400px;
    background: linear-gradient(0deg, var(--dark) 2%, rgba(39, 43, 51, 0.7), var(--dark) 98%);
}

.hero .body {
    min-height: 400px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero .title {
    font-size: 5em;
    margin-bottom: -10px;
}

.hero .sub-title {
    font-size: 1.2em;
}


.about-container .content{
    color: var(--light);
    padding: 50px 20px;
}

.about-container .content a {
    color: var(--light);
}

.about-container .image {
    padding: 20px;
}

.about-container .image img {
    width: 100%;
    border-radius: 10px;
}

.about-container p {
    font-size: 1.05em;
    line-height: 200%;    
    margin-bottom: 25px;
}

.blog-wrapper {
    width: 100%;
    background: linear-gradient(0deg, var(--dark) 2%, var(--primary), var(--dark) 98%);
    margin-bottom: 50px;    
}

.blog-container {
    padding: 50px 20px;
}

@media only screen and (max-width: 720px) {

    .hero .body {
        text-align: center;
        justify-content: space-around;
    }
}
